body {
    background-color: #1d2a35;
    color: #ddd;
    margin: 0%;
}

body:hover {
    cursor: default;
}


.main_container {
    height: fit-content;
    width: 380px;
}

.title {
    background-color: rgb(255, 255, 255, 0.1);
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

/*--- Edit links ---*/

.edit {
    height: 0%;
    margin: 0%;
}

.edit_container {
    background-color:#2d3c49;
    height: 120px;
    width: 10px;
    margin: 0%;
    position:absolute;
    top: 62px;
    left: 0;
    transition: width 1.5s;

    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    gap: 5px 15%;
}

.edit_container_open {
    width: 380px;
}

.editItem {
    display: none;
    width: 25px;
    height: fit-content;
    text-align: center;
}

.right {
    justify-self: right;
}

.left {
    justify-self: left;
}

.editItemOpen {
    display: block;
}


.edit_link_container {
    background-color:#33495c;
    height: 120px;
    width: 10px;
    margin: 0%;
    position:absolute;
    top: 62px;
    right: 0;
    transition: width 1.5s;
}

.edit_link_container_open {
    width: 380px;
}

.editLinkItem {
    display: none;
}

.editLinkItemOpen {
    display: block;
}

.center {
    width: fit-content;
    margin: auto;
}

.input {
    margin-top: 10px;
}

.text {
    background:#9fb7cc;
    width: 180px;
    border-radius: 5px;
    border-style: none;
    min-height: 20px;
    font-size: 16px;
}

.label {
    display: inline-block;
    text-align: center;
    width: 50px;
    font-size: 16px;
}


/*--- Activities ---*/

div {
    margin-bottom: 8px;
}

.activity_container {
    margin: 5px 10px 20px 10px;
    padding: 10px 8px 10px 8px;
    font-size: 16px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
}

.links_container {
    margin: 5px 10px 20px 10px;
    padding: 10px 8px 10px 8px;
    font-size: 16px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    margin: auto;
    width: 250px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.section_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: ridge;
}

.hide {
    display: none;
}

.button {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 2px 4px;
    min-width: 25px;
    max-width: fit-content;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.loot {
    white-space: pre-line
}